# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
.pytest_cache/

# Env
.env
*.env.local

# Node
node_modules/
.next/
out/
frontend/.next/
frontend/node_modules/
frontend/.netlify/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Alembic
alembic/versions/

# Celery
celerybeat-schedule
celerybeat.pid
